@import url('https://fonts.googleapis.com/css?family=Titan One');

:root {
    --backgroundColor1: rgb(206, 155, 248);
    --backgroundColor2: rgb(108, 75, 168);
    --backgroundColor3: lightblue;
    --borderColor1: black;  
    --borderColor2: white;
    --glyphiconColor: aquamarine;
    --labelColor: grey;
    --textColor1 : white;
    --textColor2 : rgb(0, 0, 0);
  }

body {
    /* background-image: linear-gradient(45deg, rgb(255, 136, 0), rgb(0, 0, 169)); */
    background-color: var(--backgroundColor1);
    color: var(--textColor1);
}
.mainContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* background-color: rgb(255, 255, 255); */
    height: 100vh;
    border: 1px solid lightgray;
}

.headerPanel {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, var(--backgroundColor2), var(--backgroundColor1));
    /* background-image: linear-gradient(180deg, lightgray, gray); */
    align-items: center;
    width: 100%;
}
.headerLayout {
    /* display: flex;
    flex: 1; */
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
    /* grid-template-columns: 80px auto 60px; */
    align-items: center;
    width: 100%;
}
.outLinedText {
    font-size: 30px !important;
    font-family: Titan One !important;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
}

.tbg-yellow {
    -webkit-text-fill-color:rgb(237,181,7)
}
.tbg-orange {
    -webkit-text-fill-color:rgb(225,120,13)
}
.tbg-red {
    -webkit-text-fill-color:rgb(216,14,44)
}
.tbg-pink {
    -webkit-text-fill-color:rgb(180,49,109)
}
.tbg-purple {
    -webkit-text-fill-color:rgb(109,38,122)
}
.tbg-blue {
    -webkit-text-fill-color:rgb(29,83,146)
}
.tbg-green {
    -webkit-text-fill-color:rgb(12,144,106)
}
.tbg-grass {
    -webkit-text-fill-color:rgb(91,150,51)
}
.tbg-black {
    -webkit-text-fill-color: black
}
.header {
    width: 100%;
    font-size: 28px;
    /* color: rgb(55, 55, 55); */
    color: var(--textColor1);
    text-align: left;
}
.connectionBar {
    display: grid;
    grid-template-columns: 80px auto 60px 60px;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.scrollContainer {
    overflow-y: scroll;
    flex: 1;
    /* border-top: 1px solid lightgray; */
    /* border-top: 1px solid var(--borderColor1); */
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--borderColor1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.ImageUploader {
    align-items: center;
    width: 600px;
    height: 344px;
    /* 600 X 0,57333 ratio */
    /* border: 1px solid lightgray; */
    border: 1px solid var(--borderColor1);
}
.ui-dialog #avatar {
    border: 0px solid white;
    width: 255px !important;
    height: 255px !important;
    margin: auto;
}
#avatar_ImageContainer {
    border-radius:500px !important;
    background-size: cover !important;
}
#imagesList {
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
    padding: 10px;
    justify-content: space-around;
}
.favicon {
    height: 60px;
    width: 60px;
    margin: 15px;
}
input2,
textarea2 {
    margin-bottom: 15px;
}
.note {
    font-size: 12px;
    /* color: blue; */
    color: var(--textColor1);
}
.image {
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 3px solid var(--borderColor2);
}
.imageLayout {
    flex:1;
    width: 300px !important;
    min-width:300px;
    max-width: 400px;
    align-content: stretch;
    scroll-snap-align:start;
}
@media (max-width: 1980px) {
    .imageLayout {
        min-width:300px;
    }
    .image {
        height: 220px;
    }
}
.imageLayout .cmd {
    display: none;
}
.imageLayout:hover .cmd {
    display: inline-block;
}
.imageLayout:hover .imageHeader {
    display: grid;
    grid-template-columns: auto 35px 35px 35px;
}
.imageTitle {
    font-size: 20px;
    min-height: 32px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.imageDate {
    font-size: 14px;
    /* color: gray */
    color: var(--textColor2);
}
.imageDesciption {
    position: relative;
    text-align: justify;
    margin-bottom: 20px;
    padding-bottom: 24px;
    /* border-bottom: 1px solid lightgray; */
    border-bottom: 1px solid  var(--borderColor1);

}

.cmd {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    /* color: blue; */
    color: var(--glyphiconColor);
    text-align: center;
}
.cmd:hover {
    /* color: rgb(2, 166, 221); */
    color: var(--backgroundColor3);
}
.cmd:active {
    color: lightblue;
}
label {
    margin-top: 10px;
    margin-bottom: 4px;
    /* color: gray; */
    color: var(--labelColor);
}
.biggerCheck {
    scale: 1.5 1.5;
    padding-right: 4px;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.connectedUser {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar {
    border-radius: 50px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.avatarControl {
    width: 200px !important;
    height: 200px !important;
}
.userName {
    font-size: 22px;
    font-weight: 600;
}

div2,
span2 {
    border: 1px solid red;
}

.menu{
    /* display: grid;
    grid-template-columns: auto 35px 35px; */
    /* position: absolute; */
    /* right: 3rem; */
    display: flex;
    align-items: center;
    /* width: 20rem; */
}

#menuUser{
    margin: 20px;
    display: block;
    /* grid-template-columns: auto 35px 35px;
    text-align: right;
    float: right; */
    width: auto;
    min-width:300px;
    max-width: 400px;
    float: right;
}
#imagesList{
    background-color: rgb(108, 0, 134);
    background-color: var(--backgroundColor1);
}
#loginUser{
    float: right;
    margin-left: 20px;
}
#userName{
    font-weight: 500;
    margin-right: 1rem;
}
#loginLogo{
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 50px;
}
#Title{
    display: inline-block;
    width: 500px !important;
    min-width:500px;
    max-width: 500px;
}
#backBtn{
    margin: 0;
    position: relative;
    transform: translateY(40%);
  
    margin-left: 15px;
}
.aboutContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;

    color: var(--textColor1);

    text-shadow:
    -1px -1px 0 var(--backgroundColor2),
    1px -1px 0 var(--backgroundColor2),
    -1px 1px 0 var(--backgroundColor2),
    1px 1px 0 var(--backgroundColor2);  

    padding: 1rem;
    font-size: 2rem;
}
.detailImage{
    width: 500px;
    max-height: 600px;
}